@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

       <p><a>User Login and Registration Application. Built using </a><a href="https://docs.microsoft.com/aspnet/core">ASP.Net Core MVC</a><a> & Identity.</a></p> 
    </div>
